
@{
    ViewData["Title"] = "About Us";
}

<h1>About Our Used Cars</h1>

<h2>Trust us, we are the only honest dealership</h2>

<p>
    Lorem ipsum would go here to hold place for real text
</p>

<h3>Contact Us</h3>
<p>
    Email us at <a href="mailto:support@UsedCars.com">Support@UsedCars.com</a>
</p>
