@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Used Car Dealership!</h1>

    <p>
        We have a lot of alot of cars for sale and we hope that you find what you're looking for. If you want to know a little bit about us check out the about page.
         And if you want to get a hold of us to ask questions our contact has our phone number and one of our employees would be happy to help!
         And Thank You for coming to our website!
    </p>
</div>
